{% extends 'layout.html' %}

         {% block jumbotronText %}

        <h3>subtitle 1</h3>
        <h1>Page Title</h1>
        <h3>subtitle 2</h3>
        <p>important text important text important text important text important text important text text important text text important text text important text text important text text important text </p>

        {% endblock %}
        {% block articles %}

        <article>
           <date>JAN 23, 2000</date>
           <h1>Title article for text </h1>
            also add class "has-links" if links section not empty
           <div class="content has-links">
    Lorem ipsum dolor sit amet, nec te mucius labitur discere, id possim nominavi scaevola sea. Ea vim enim movet, atqui soleat at pri, duo elit democritum at. Cu has principes gloriatur, aliquam argumentum in mei, malorum partiendo ei duo. An duo causae utroque posidonium, vel choro deseruisse no. Per summo tacimates pericula ut, ad nec tantas verear. Eum te saepe nonumy soleat, enim vide dictas cum te.
Erat discere suscipiantur per ad. Sed scripta deleniti at. Eu amet delicata sed. Ad dicta nobis argumentum duo, his no putant everti. Mea quis consulatu prodesset at, magna praesent partiendo at vis, fabulas appellantur an sed. Mel timeam fastidii ex.
           </div>
           <div class="links">
              <ul>

              </ul>
           </div>
        {% endblock %}





